/* Universal Styles */
 
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700;800&family=Work+Sans:wght@400;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: FFF;
    padding-left: 3 ;
}

/* Common Style */
:root{
    --btn-color:#E02C6D;;
    --btn-text-color:#FFF;
    --text-gray:#D9DBE1;

}

/* Navigation bar style */
.nav-bar{
    display: flex;
    gap: 50px;
    margin: 50px;
    justify-content: space-between;
}
.nav-logo{
    color: #3A3A3A;
    font-size: 22px;
    font-weight: 600;
}
.nav-menu  ul{
    display: flex;
    list-style: none;
    gap: 50px;

    
}
.nav-menu{
    margin-right: 30px;
}
/* Banner section */
.img-container{
    background: url("images/Circle design.svg");
    background-repeat: no-repeat;
    background-size: 90%;
}

.img-container img{
    width: 85%;
    padding: 20px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.container-details{
    max-width: 400px;
}
.banner-title{
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 40px;
}

.banner-description{
margin-bottom: 20px;
}

.btn-primary{
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
}

/* Sponsor section design */
.logo-container{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 20px 40px;
    border-radius: 10px;
    border: 1px solid;
    border-image: linear-gradient(to right,transparent,rgba(128,128,128,0.438),transparent); 
    border-left: 0;
    border-right: 0;
    border-image-slice: 1;

}

/* Popular Collection styles */
.popular-collection{
    margin-top: 70px;
}
.collection-title{
    display: flex;
    justify-content: center;
    font-size: 24px;

}
.collection-details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

}
.collection-img-container img{
    width: 100%;
    height: 300px;
}
.collection-name{
    margin-top: 10px;
}
.collection-stat{
    margin-top: 10px;
}
.collection-comment{
    margin-top: 10px;
}
.collection-description{
    margin-top: 10px;
    max-width: 130px;
}
.collection-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin: 40px 90px;
    gap: 20px;

}
.see-more{
    color: var(--btn-color);
    text-align: end;
    padding: 0 90px;
    /* margin-bottom: 60px; */
}
/* Feature Products at one place section */
.feature-container{
    margin: 90px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.feature-img-container img{
    width:95%
}

.feature-title{
    margin-bottom: 20px;
}
.feature-description{
    margin-bottom: 15px;
    max-width: 450px;
}
.btn1-primary{
    padding: 15px;
    border: none;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    padding: 12px 30px;
}
.footer-container{
    background: #0A0826;
    height: 200px;
    color: #FFF;
}
.footer-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.footer-description{
    color: var(--text-gray);
    font-size: 14px;
    line-height: 24px; /* 171.429% */
    
}